:root {
    --decor-color: #01996D;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.lato-regular,
.nav>li>a, .mobile-nav>li>a, button, p.header, p.howItWorks, .howItWorks-p, .about-left>button, .name, .ourProduct-cardContainer-content li {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold, h2.howItWorks, .about-left>p, .cardContainer-header {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.georgia-bold, h1, h3.howItWorks, .about-left>h2 .ourProduct-cardContainer-content>div {
    font-family: "Georgia", serif;
    font-weight: 700;
    font-style: normal;
}
.georgia-regular, .howItWorks-head-numb {
    font-family: "Georgia", serif;
    font-weight: 400;
    font-style: normal;
}
.ourProduct-cardContainer-content li {
    font-size: 11px;
}
.name {
    font-size: 12px;
}
.cardContainer-header {
    font-size: 14px;
}
.nav>li>a, .mobile-nav>li>a, button, p.header, p.howItWorks, .howItWorks-p, .about-left>button {
    font-size: 20px;
}
h2.howItWorks, .about-left>p {
    font-size: 24px;
}
.ourProduct-cardContainer-content>div {
font-size: 25px;
}
h3.howItWorks, .about-left>h2  {
    font-size: 50px;
}
.howItWorks-head-numb {
    font-size: 150px;
}

a {
    color: #292929;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--decor-color);
}

button {
    background-color: #01996D;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #006f4f;
}

/* --- */
header {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    background-color: #fff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-header {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    width: 80px;
    height: 23px;
}

.nav {
    display: flex;
    gap: 72px;
}

.nav-buttons {}

.button1 {
    font-size: 20px;
    width: 183px;
    height: 51px;
    transition: color 0.3s ease;
    background-color: inherit;
}

.button1:hover {
    color: var(--decor-color);
    background-color: inherit;
}

.button2 {
    font-size: 20px;
    color: #fff;
    width: 183px;
    height: 51px;
}

#nav-mobile {
    display: none;
}

.burger {
    display: none;
    height: 50%;
    padding: 7px 0;
}
.burger-line {
    width: 40px;
    height: 3px;
    background-color: var(--decor-color);
}
.mobile-menu {
    position: fixed;      
    top: 0;             
    right: -300px;        
    width: 300px;         
    height: 100vh;        
    background: white;    
    box-shadow: -5px 0 15px rgba(0,0,0,0.1); 
    transition: right 0.3s ease; 
    z-index: 1000;        
    padding: 80px 20px 20px; 
}
.mobile-menu.active {
    right: 0;             
}
.mobile-nav {
    display: flex;
    flex-direction: column; 
    gap: 30px;            
    margin-bottom: 30px;  
}
.mobile-buttons {
    display: flex;
    flex-direction: column; 
    gap: 15px;            
}
/* Затемнение фона */
.overlay {
    position: fixed;      
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); 
    opacity: 0;           /* Полностью прозрачный */
    visibility: hidden;   /* Скрыт из потока */
    transition: all 0.3s ease; /* Плавное появление */
    z-index: 999;        
}

.overlay.active {
    opacity: 1;          /* Полная непрозрачность */
    visibility: visible;  /* Становится видимым */
}
.header-content {
    background: url(../images/BG.png) center/cover no-repeat;
    padding-top: 175px;
    background-attachment: fixed;
}
h1 {
    color: var(--decor-color);
    font-size: 65px;
    margin-bottom: 30px;
}
p.header {
    margin-bottom: 53px;
}
.header-button {
    width: 227px;
    height: 65px;
    color: #fff;
    margin-bottom: 336px;
}
div.howItWorks {
    padding-top: 169px;
    margin-bottom: 51px;
}
.head-howItWorks {
    margin-bottom: 52px;
}
h2.howItWorks, p.howItWorks {
    color: #424242;
}
.head-howItWorks-flex {
display: flex;
justify-content: space-between;
align-items: center;
}
h3.howItWorks {
    color: var(--decor-color);
    margin-right: 50px;
    margin-bottom: 50px;
}
p.howItWorks {
    max-width: 671px;
}
.content-howItWorks-flex {
    display: flex;
    justify-content: space-between;
}
.content-howItWorks-block {
    max-width: 392px;
}
.content-howItWorks-flex > div:nth-of-type(2) {
    margin-top: 287px;
}
.content-howItWorks-flex > div:nth-of-type(3) {
    margin-top: 54px;
}
.howItWorks-head-numb {
    color: rgba(1, 153, 109, 0.2);
    position: relative;
}
.howItWorks-head {
    font-size: 30px;
    font-family: "Georgia", serif;
    font-weight: 700;
    font-style: normal;
    color: #000;
    position: absolute;
    bottom: 45px;
}
#howItWorks-head1 {
left: 88px;
}
#howItWorks-head2 {
    left: 79px;
}
#howItWorks-head3 {
    left: 124px;
}
.howItWorks-p {
    margin-bottom: 40px;
}

.howItWorks-img1, .howItWorks-img2, .howItWorks-img3 {
width: 392px;
height: 492px;
background-size: cover;
background-repeat: no-repeat;
}
.howItWorks-img1 {
background-image: url(images/img1.png);
}
.howItWorks-img2 {
background-image: url(images/img2.png);
}
.howItWorks-img3 {
background-image: url(images/img3.png);
}
.about {
    background-color: #245852;
    padding-top: 229px;
    padding-bottom: 177px;
}
.about>.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 31px;
}
.about-left {
}
.about-left>h2 {
    color: #fff;
    margin-bottom: 33px;
}
.about-left>p {
    color: #fff;
    margin-bottom: 57px;
}
.about-left>button {
color: #fff;
width: 240px;
height: 65px;
}
.about-right {
}
.about-video-container {
    position: relative;
    display: inline-block;
}
.about-video-container>video {
    width: 895px;        
    height: auto;       
    border-radius: 16px;
    object-fit: cover;   /* заполняет область без искажений */
}
.play-button {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* точное центрирование */
    cursor: pointer; /* курсор-указатель */
    transition: transform 0.3s ease; /* плавное увеличение при наведении */
    z-index: 10;
    width: 80px;
    height: 80px;
    background: url('images/play-white.png') center/cover no-repeat;
}
.play-button:hover {
    transform: translate(-50%, -50%) scale(1.1); /* увеличение на 10% */
}
video:playing + .play-button {
    display: none;
}
.ourProduct {
    padding-top: 120px;
    padding-bottom: 168px;
}
.ourProduct-flex {
    display: flex;
    gap: 87px;
    justify-content: space-between;
}
.ourProduct {
}
.ourProduct-flex {
}
.ourProduct-flex-left {
}
.ourProdict-photo {
    width: 839px;
    height: 573px;
    background-image: url(images/bg-avatar.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 18px;
    position: relative;
}
.ourProduct-cardContainer {
    background-color: #fff;
    position: absolute;
    left: -60px;
    bottom: -74px;
    box-shadow: 0 4px 18px rgba(165, 165, 165, 0.25);
    border-radius: 5px;
    padding: 30px 50px;
}.ourProduct-cardContainer-head {
    margin-bottom: 20px;
}
.ourProduct-cardContainer-head>img {
    width: 57px;
    height: 57px;
    margin-bottom: 10px;
}
.cardContainer-header {
    margin-bottom: 7px;
}
.ourProduct-cardContainer-decor-line {
    width: 110px;
    height: 1px;
    background-color: #000;
    margin-bottom: 21px;
}
.name {

}
.ourProduct-cardContainer-content {
}
.ourProduct-cardContainer-content li {
    list-style-type: disc;
     list-style-position: inside;
     padding-left: 6px;
}
.ourProduct-flex-right {
}
